<h1>Nueva condicion</h1>
<script>
  $(document).ready(function() { 
    $("#condition_airline_id").select2();
  });
</script>

<%= form_for(@condition, url: conditions_path, html: { method: "post" }  ) do |f| %>

  <% if @condition.errors.any? %>
    <div id="error_explanation" class="alert alert-danger" role="alert">
      <h2>No se ha podido guardar por los siguientes errores:</h2>

      
      <% @condition.errors.values.each do |message| %>
        <%= message %>
      <% end %>
      
    </div>
  <% end %>
    <input type="hidden" name="condition[id]" value="<%= @condition.id%>">
  <div class="row">
    <div class="col-md-4">
      <div class="control-group">
        <%= f.label "Aerolinea", :class => 'control-label' %>
        <div class="controls">
          <%# f.select(:airline, @airlines,{ include_blank: true }, :class => 'form-control') %>
          <%= select(:condition, :airline_id, @airlines, { include_blank: true }, :class => 'form-control') %>

        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="control-group">
        <%= f.label "Fecha de inicio", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :start_date, :required => true, :class => 'form-control datepicker' %>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="control-group">
        <%= f.label "Fecha de fin", :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :end_date, :required => true, :class => 'form-control datepicker' %>
        </div>
      </div>
    </div>
    <div class="col-md-1">
      <div class="control-group">
        <%= f.label "Activo", :class => 'control-label' %>
        <div class="controls">
          <%= f.check_box :active, :class => 'form-control' %>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div id="table">
        <%= render partial: "promotions/list", locals: {condition: @condition, promotions: @promotions} %>        
      </div>
    </div>
    <!-- <div class="row"> -->
      <div class="col-md-12"> 
        <div class="control-group">
            <%= f.label "Descripcion legal", :class => 'control-label' %>
            <div class="controls">
              <%= f.text_area :legal_description, :class => 'form-control text-area-legal-description' %>
            </div>
        </div>
      </div>
    <!-- </div> -->
    <div class="col-md-3">
      <div class="actions">
        <%= f.submit "Crear condicion",:class => 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<div class="modal fade" id="myModal" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">

        <span id="modal-spin" style="position: absolute;display: block;top: 50%;left: 50%;"></span>
      </div>
    </div>
  </div>
</div>
<div style="float:right;margin-top:-33px">
    <%= link_to 'Volver', conditions_path, :class => "btn btn-default"%>
</div>
<script type="text/javascript">
  $('.datepicker').datepicker({
    language: 'es',
    format: 'yyyy-mm-dd',
    todayHighlight: true
  });

  var formmodified=0;
  
  $('.edit_condition').change(function(){
    formmodified=1;
  });   
  
  $(document).on("page:before-change", function () {
    if ( formmodified == 1 ) {
      if (confirm("Hay cambios que no se han guardado. Se perderan si confirma dejar el formulario.")) {
        $(document).unbind("page:before-change");
      }
    }
  });
  
  $("input[name='commit']").click(function() {
    formmodified = 0;
  });
</script>