<div class="page-header">
  <h1>Condición <%=@condition.shortname%></h1>
</div>
<p>
  <strong>Nombre:</strong>
  <%= @condition.shortname unless @condition.shortname.blank? %>
</p>
<p>
  <strong>Aerolinea:</strong>
  <%= @condition.airline.name unless @condition.airline.blank? %>
</p>

<p>
  <strong>Descripcion legal:</strong>
  <%= @condition.legal_description %>
</p>

<p>
  <strong>Fecha de creacion:</strong>
  <%= @condition.created_at.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Fecha de inicio:</strong>
  <%= @condition.start_date.strftime("%d/%m/%Y") unless @condition.start_date.blank? %>
</p>

<p>
  <strong>Fecha de fin:</strong>
  <%= @condition.end_date.strftime("%d/%m/%Y") unless @condition.end_date.blank? %>
</p>

<%= render partial: "promotions/list", locals: {promotions: @promotions} %> 
<%= render partial: "coefficients/list", locals: {coefficients: @coefficients} %>        

<%= link_to 'Volver al listado', conditions_path, :class => "btn btn-default btn-xs" %>
<%= link_to 'Editar', edit_condition_path(@condition), :class => "btn btn-default btn-xs" %> 
