<script>
  $(document).ready(function() { 
    $("#coefficient_credit_card_id").select2({allowClear: true,placeholder: 'Seleccione una tarjeta'});
    $('.date').mask("00/00/0000", {placeholder: "__/__/____"});   
  });
  Mousetrap.bind('shift+a',function (e) {
    $('a.add_fields').trigger("click");
  });
  // $(document).bind('keydown', 'shift+a', function (e) {
  //   $('a.add_fields').trigger("click");
  // });
</script>

<%= form_for(@coefficient, :html => { :class => @coefficient.new_record? ? 'form-inline coefficient' : 'form-inline coefficient coefficient-edit-form'}, data: {id: !@coefficient.new_record? ? @coefficient.id : ''}) do |f| %>
  <div id="errors" role="alert"><p></p></div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="coefficient_credit_card_id">Tarjeta de credito</label>
        <%= select(:coefficient, :credit_card_id, @credit_cards, { include_blank: true }, :class => 'form-control') %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="coefficient_start_date">Fecha de inicio</label>
        <%= f.text_field :start_date, :required => true, :class => 'form-control fix-width date' %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="coefficient_end_date">Fecha de fin</label>
        <%= f.text_field :end_date, :required => true, :class => 'form-control fix-width date' %>
      </div>
    </div>
    <div class="col-md-2">
      <div class="form-group">
        <label for="coefficient_active">Activo</label><br/>
        <%= f.check_box :active, :class => 'form-control' %>
      </div>
    </div>
  </div>
  <h3>Values</h3>
  <table id="coefficient-inputs" class="table">
    <thead>
      <tr>
        <td></td>
        <td>Cuota</td>
        <td>Valor</td>
        <td></td>
        <td>Acciones</td>
      </tr>
    </thead>
    <tbody id="values">
      <%= f.fields_for :values do |ff| %>
        <%= render partial: "value_fields", locals: { f: ff } %>
      <% end %> 
      <%= link_to_add_association 'Agregar', f, :values, 'data-association-insertion-node' => "tbody#values", 'data-association-insertion-method' => "append", :class => "btn btn-primary" %>
    </tbody>
  </table>
  <div class="form-group">
    <div class="col-lg-2 ">
      <%= f.submit 'Guardar', :id => 'send_coefficient_form', :class => 'btn btn-primary' %>
    </div>
  </div>

<% end %>
<script text="text/javascript">
  
</script>
