<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div>Coeficientes
    <% if params[:action] != "show" %>
      <div style="float:right">
        <button type="button" id="button_new_coefficient" data-condition="<%= condition.id %>" class="btn btn-primary btn-xs button-new-coefficient" data-toggle="modal" data-target="#myModal">
          Nuevo Coeficiente
      </button>
      </div>
      <% end %>
    </div>
  </div>
  
  <!-- Table -->
  <table id="coefficients_table" class="table">
    <thead>
      <tr>
        <th>Tarjeta</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Activa</th>
        <% if params[:action] != "show" %>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @coefficients.each do |coefficient| %>
        <tr id="<%= coefficient.id%>">
          <td><%= coefficient.credit_card.name unless coefficient.credit_card.nil? %></td>
          <td><%= coefficient.start_date.strftime("%d/%m/%Y")  %></td>
          <td><%= coefficient.end_date.strftime("%d/%m/%Y")  %></td>
          <% if coefficient.active %>
            <td><i class="fa fa-check fa-lg"></i></td>
          <% else %>
            <td><i class="fa fa-times fa-lg"></i></td>
          <% end %>
          <td>
            <% if params[:action] != "show" %>
              <% if coefficient.active %>
                <button type="button" class="btn btn-warning btn-xs button-disable-coefficient" data-action="/disable" data-coefficient="<%= coefficient.id%>" data-message="Esta seguro de deshabilitar este coeficiente?">
                  Deshabitilar
                </button>                
              <% else %>
                <button type="button" class="btn btn-success btn-xs button-enable-coefficient" data-action="/enable" data-coefficient="<%= coefficient.id%>" data-message="Esta seguro de habilitar este coeficiente?">
                  Habitilar
                </button>
              <% end %>
              <button type="button" class="btn btn-primary btn-xs button-edit-coefficient" data-coefficient="<%= coefficient.id%>">
                Editar
              </button>
              <button type="button" class="btn btn-default btn-xs button-clone-coefficient" data-coefficient="<%= coefficient.id%>">
                Clonar
              </button>
              <button type="button" class="btn btn-xs btn-danger button-delete-coefficient" data-coefficient="<%= coefficient.id%>">
                Eliminar
              </button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>