<tr id="<%= coefficient.id%>">
  <td><%= coefficient.credit_card.name unless coefficient.credit_card.nil? %></td>
  <td><%= coefficient.start_date.strftime("%d/%m/%Y") %></td>
  <td><%= coefficient.end_date.strftime("%d/%m/%Y") %></td>
  <% if coefficient.active %>
    <td><i class="fa fa-check fa-lg"></i></td>
  <% else %>
    <td><i class="fa fa-times fa-lg"></i></td>
  <% end %>
  <td>
    <% if coefficient.active %>
        <button type="button" class="btn btn-warning btn-xs button-disable-coefficient" data-action="/disable" data-coefficient="<%= coefficient.id%>" data-message="Esta seguro de deshabilitar esta promocion?">
          Deshabitilar
        </button>                
      <% else %>
        <button type="button" class="btn btn-success btn-xs button-enable-coefficient" data-action="/enable" data-coefficient="<%= coefficient.id%>" data-message="Esta seguro de habilitar esta promocion?">
          Habitilar
        </button>
      <% end %>
    <button type="button" class="btn btn-primary btn-xs button-edit-coefficient" data-coefficient="<%= coefficient.id%>">
      Editar
    </button>
    <button type="button" class="btn btn-default btn-xs button-clone-coefficient" data-coefficient="<%= coefficient.id%>">
      Clonar
    </button>
    <button type="button" class="btn btn-xs btn-danger button-delete-coefficient" data-coefficient="<%= coefficient.id%>">
      Eliminar
    </button>
  </td>
  <% if @render_hidden_input %>
    <input type="hidden" name="condition[coefficients][<%= coefficient.id%>]" value="<%= coefficient.id%>">
  <% end %>
</tr>