<%- model_class = CreditCard -%>
<div class="page-header">
  <h1>Tarjeta de credito </h1>
</div>

<dl class="dl-horizontal">
  <dt><strong>Nombre:</strong></dt>
  <dd><%= @credit_card.name %></dd>
  <dt><strong>Cantidad de digitos:</strong></dt>
  <dd><%= @credit_card.quantity_digits %></dd>
  <dt><strong>Cantidad de digitos de codigo de seguridad:</strong></dt>
  <dd><%= @credit_card.quantity_code_security %></dd>
  <dt><strong>Comienzo del bin:</strong></dt>
  <dd><%= @credit_card.bin_start %></dd>
</dl>

<%= link_to "Volver",
              credit_cards_path, :class => 'btn btn-default'  %>
<%= link_to "Editar",
              edit_credit_card_path(@credit_card), :class => 'btn btn-default' %>
<%= link_to "Eliminar",
              credit_card_path(@credit_card),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
