<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div>Promociones
    <% if params[:action] != "show" %>
      <div style="float:right">
        <button type="button" id="button_new_promotion" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal">
          Nueva Promocion
      </button>
      </div>
      <% end %>
    </div>
  </div>
  
  <!-- Table -->
  <table id="promotions_table" class="table">
    <thead>
      <tr>
        <th>Cuota</th>
        <th>Bin</th>
        <th>Banco</th>
        <th>Tarjeta</th>
        <% if params[:action] != "show" %>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promotion| %>
        <tr >
          <td><%= promotion.quota %></td>
          <td><%= promotion.bin %></td>
          <td><%= promotion.bank.name unless promotion.bank.nil? %></td>
          <td><%= promotion.credit_card.name unless promotion.credit_card.nil? %></td>
          <td>
            <% if params[:action] != "show" %>
              <%= link_to "Editar",
                          edit_promotion_path(promotion), :class => 'btn btn-default btn-xs', :data => {:promotion => promotion.id} %>
              <%= link_to "Eliminar",
                          promotion_path(promotion),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :promotion => promotion.id },
                          :class => 'btn btn-xs btn-danger' %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

