<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">
    <div>Promociones
    <% if params[:action] != "show" %>
      <div style="float:right">
        <button type="button" id="button_new_promotion" data-condition="<%= condition.id %>" class="btn btn-primary btn-xs button-new-promotion" data-toggle="modal" data-target="#myModal">
          Nueva Promocion
      </button>
      </div>
      <% end %>
    </div>
  </div>
  
  <!-- Table -->
  <table style="table-layout: fixed;" id="promotions_table" class="table">
    <thead>
      <tr>
        <th>Banco</th>
        <th>Tarjeta</th>
        <th>Fecha de inicio</th>
        <th>Fecha de fin</th>
        <th>Cuota</th>
        <th>Bin</th>
        <th>Activa</th>
        <% if params[:action] != "show" %>
          <th>Acciones</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @promotions.each do |promotion| %>
        <tr id="<%= promotion.id%>">
          <td><%= promotion.bank.name unless promotion.bank.nil? %></td>
          <td><%= promotion.credit_card.name unless promotion.credit_card.nil? %></td>
          <td><%= promotion.start_date.strftime("%d/%m/%Y") %></td>
          <td><%= promotion.end_date.strftime("%d/%m/%Y") %></td>
          <td><%= promotion.quota %></td>
          <td><%= promotion.bin %></td>
          <% if promotion.active %>
            <td><i class="fa fa-check fa-lg"></i></td>
          <% else %>
            <td><i class="fa fa-times fa-lg"></i></td>
          <% end %>
          <td>
            <% if params[:action] != "show" %>
              <% if promotion.active %>
                <button type="button" class="btn btn-warning btn-xs button-disable-promotion" data-action="/disable" data-promotion="<%= promotion.id%>" data-message="Esta seguro de deshabilitar esta promocion?">
                  Deshabitilar
                </button>                
              <% else %>
                <button type="button" class="btn btn-success btn-xs button-enable-promotion" data-action="/enable" data-promotion="<%= promotion.id%>" data-message="Esta seguro de habilitar esta promocion?">
                  Habitilar
                </button>
              <% end %>
              <button type="button" class="btn btn-primary btn-xs button-edit-promotion" data-promotion="<%= promotion.id%>">
                Editar
              </button>
              <button type="button" class="btn btn-xs btn-danger button-delete-promotion" data-promotion="<%= promotion.id%>">
                Eliminar
              </button>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>