<tr id="<%= promotion.id%>">
  <td><%= promotion.quota %></td>
  <td><%= promotion.bin %></td>
  <td><%= promotion.bank.name unless promotion.bank.nil? %></td>
  <td><%= promotion.credit_card.name unless promotion.credit_card.nil? %></td>
  <td>
      <button type="button" class="btn btn-default btn-xs button-edit-promotion" data-promotion="<%= promotion.id%>">
        Editar
      </button>
      <button type="button" class="btn btn-xs btn-danger button-delete-promotion" data-promotion="<%= promotion.id%>">
        Eliminar
      </button>
  </td>
</tr>
<script type="text/javascripts">
  $(document).ready(function() {
    var spinner = new Spinner(opts);
    $('.button-delete-promotion').on('click', function(e) {
      e.preventDefault(); // stops default behavior
      if ( confirm("Esta seguro de eliminar esta promocion?") ) {
        $.ajax({
          url: "/promotions/"+$(this).attr('data-promotion'),  
          type: "DELETE",
          beforeSend: function(){
            // spinner.spin(document.getElementById('modal-spin'));
          },
          success: function(result){
              $('#'+$('.button-delete-promotion').attr('data-promotion')).remove();
          },
          complete: function(){
            // spinner.stop(document.getElementById('modal-spin'));
          }
        });  
      }
    });  
  });   
</script>